{% extends 'blog/base.html' %}

{% block heading %}About thecovfefe blog{% endblock %}
{% block sub %}A forLoop Ibadan Demo{% endblock %}
{% block bg %}https://pbs.twimg.com/media/DAoZ7Z6XcAAwRP4.jpg{% endblock %}
{% block main %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>forLoop envisions to be a dev event where software developers can come together, interact, and share
                    knowledge on different technologies.</p>
                <p>This event seeks to brings aspiring developers, experienced developers, technology enthusiast and
                    other like minded and technically oriented individuals together to engage each other, learn from
                    each other and grow together as a community. Speakers would be demystifying common concepts and
                    development patterns for building software. Everything from learning how to impact the larger
                    software community by contributing to open source projects to building application programming
                    interfaces ( API's) the right way. Come! We'll be expecting you.</p>
            </div>
        </div>
    </div>
{% endblock %}