{% extends 'blog/base.html' %}

{% block heading %}thecovfefe blog{% endblock %}
{% block sub %}Everything else is fakenews!{% endblock %}
{% block bg %}https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg{% endblock %}
{% block main %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ post.get_absolute_url }}">
                            <h2 class="post-title">
                                {{ post.title|safe }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.body|safe|truncatechars:40 }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.publish }}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}